* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Full Body Style */

body {
    background-color: #0894a4;
    color: #f7f7f7;
}

header {
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between; 
    padding: 10px 3%;
    margin: 0 0 3% 0;
    background-color: #f7f7f7;
    color: #0894a4;
}

header h1, header h2 {
    border-bottom: 2px #0894a4 solid;
}

#page-content, #alert-box {
    margin: 0 20%;
}

button {
    background-color: #0894a4;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 4px; 
    font-family: 'Raleway';
    margin: 10px 0;
    font-size: 16px;
    padding: 10px;
}

#page-content h2 {
    text-align: center;
    margin: 10px;
}

p {
    margin: 10px;
}

#start-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Questions-on-Page, High Scores Formatting */

h3 {
    margin: 10px;
    text-align: center;
}

#question-area-content, #alert-box, #high-scores {
    border: 2px #f7f7f7 solid;
    margin: 0 20%;
    padding: 0 3%; 
    border-radius: 10px;
    text-align: center;
}

#question-area-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.btn {
    margin: 10px auto;
}

input {
    background-color: #0894a4;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 4px; 
    font-family: 'Raleway';
    margin: 10px;
    font-size: 16px;
    padding: 10px;
}

ol {
    margin: 10px auto 20px auto;
    text-align: center;
    list-style: none;
}

ol li {
    font-size: 26px;
}

/* Media Queries */

@media screen and (max-width: 743px) {
    #question-area-content, #alert-box, #high-scores {
        margin: 0 3%;
    }
}

@media screen and (min-width: 1175px) {
    #question-area-content, #alert-box, #high-scores {
        margin: 0 30%;
    }
}