
body {
    background-color: #0894a4;
    color: #f7f7f7;
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between; 
    padding: 0 3% 0 3%;
    margin: 0 0 3% 0;
    background-color: #f7f7f7;
    color: #0894a4;
}

header h1, header h2 {
    border-bottom: 2px #0894a4 solid;
}

#page-content, #alert-box {
    margin: 0 3%;
}

button {
    background-color: #0894a4;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 4px; 
    font-family: 'Raleway';
    margin: 10px 0;
    font-size: 16px;
    padding: 10px;
}

#page-content h2 {
    text-align: center;
}

#start-btn {
    display: block;
    margin: auto;
}

#question-area-content, #alert-box, #high-scores {
    border: 2px #f7f7f7 solid;
    margin: 0 3%;
    padding: 0 3% 18px 3%; 
    border-radius: 10px;
    text-align: center;
}

input {
    background-color: #0894a4;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 4px; 
    font-family: 'Raleway';
    margin: 10px;
    font-size: 16px;
    padding: 10px;
}

#table {
    margin-left: auto;
    margin-right: auto;
}